<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon m-5" aria-label="Example icon-button with heart icon" [routerLink]="['/alumnos']">
        Alumnos
      </button>
      <button mat-icon-button class="example-icon  m-5" aria-label="Example icon-button with share icon" [routerLink]="['/profesores']">
       Profesores
      </button>
      <button mat-icon-button class="example-icon  m-5" aria-label="Example icon-button with share icon" [routerLink]="['/cursos']">
        Cursos
       </button>
    </mat-toolbar>
  </p>